body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  max-height: 700px;
  object-fit: contain;
}

a {
  color: orangered;
}

a:hover,
a:focus {
  color: pink;
}

.row:nth-child(odd) a:hover,
.row:nth-child(odd) a:focus {
  color: black;
}

.main-heading {
  text-align: center;
}

#content > * {
  width: 100%;
}
.row:nth-child(even) {
  background-color: black;
  color: whitesmoke;
}
.row:nth-child(odd) {
  background-color: pink;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.stretch {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 960px;
  margin: 24px;
}

p,
h2 {
  margin-top: 0;
  line-height: 1.5;
}

p {
  margin-bottom: 0.5em;
}

footer {
  text-align: center;
}

body {
  font-family: "Monaspace Krypton", monospace;
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("MonaspaceKrypton-Regular.woff") format("woff");
}

.fermenthings-logo {
  mask: url("fermenthings.svg") no-repeat center / contain;
  width: 260px;
  height: 80px;
  align-self: flex-end;
}

.row:nth-child(odd) h2 {
  color: black;
}

.row h2 {
  color: pink;
}

.row:nth-child(odd) .masked-logo {
  background-color: black;
}

.masked-logo {
  background-color: pink;
}

img.supporter {
  height: 100px;
  padding: 10px;
}